.search-results {
  overflow: auto;

  .car {
    padding: 16px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin: 8px 16px;

    img {
      border-radius: 3px;
      margin-right: 6px;
    }

    .name {
      margin: 8px;
      font-size: 17px;
      font-weight: 600;
    }

    .property {
      margin: 0 8px;
      height: 20px;

      label {
        color: #666;
        width: 60px;
        font-size: 13px;
        font-weight: 400;
      }

      font-size: 15px;
      font-weight: 400;
    }
  }
}
